@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        <!-- Add a button to redirect to Pond Page -->
        <a href="/PondPage/PondIndex" class="btn btn-primary">Pond</a>
        <a href="/UserPage/UserIndex" class="btn btn-primary">User</a>
    </p>
</div>
